{% extends 'themes/' ~ registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}

    {# pagination #}

    {% set page = query.page %}
    {% set tag = query.tag %}

    {% set blog_posts_limit = entries.fetch('blog').entries_limit %}

    {% if blog_posts_limit == 0 %}
        {% set blog_posts_limit = 5 %}
    {% endif %}

    {% if tag %}
        {# @todo get count from cache! #}
        {% set blog_posts_length = entries.fetch('blog', {
                                                            'where': {
                                                                'key': 'tag',
                                                                'expr': 'contains',
                                                                'value': tag
                                                            },
                                                            'and_where': [{
                                                                'key': 'visibility',
                                                                'expr': 'nin',
                                                                'value': ['draft', 'hidden']
                                                            }]
                                                        })|length %}

        {% set blog_posts_pages = (blog_posts_length/blog_posts_limit)|round(0, 'ceil') %}
        {% if page < 1 %}
            {% set page = 1 %}
        {% elseif page > blog_posts_pages %}
            {% set page = blog_posts_pages %}
        {% endif %}
        {% set blog_posts_offset = (page-1)*blog_posts_limit %}
        {% if blog_posts_offset < 0 %}{% set blog_posts_offset = 0 %}{% endif %}

        {% set blog_posts = entries.fetch('blog', {
                                                    'where': {
                                                        'key': 'tag',
                                                        'expr': 'contains',
                                                        'value': tag
                                                    },
                                                    'and_where': [{
                                                        'key': 'visibility',
                                                        'expr': 'nin',
                                                        'value': ['draft', 'hidden']
                                                    }],
                                                    'order_by': {
                                                        'field': 'published_at',
                                                        'direction': 'desc'
                                                    },
                                                    'set_max_result': blog_posts_limit,
                                                    'set_first_result': blog_posts_offset
                                                }) %}
    {% else %}

        {# @todo get count from cache! #}
        {% set blog_posts_length = entries.fetch('blog', {
                                                            'where': {
                                                                'key': 'visibility',
                                                                'expr': 'nin',
                                                                'value': ['draft', 'hidden']
                                                            }
                                                        })|length %}

        {% set blog_posts_pages = (blog_posts_length/blog_posts_limit)|round(0, 'ceil') %}

        {% if page < 1 %}
            {% set page = 1 %}
        {% elseif page > blog_posts_pages %}
            {% set page = blog_posts_pages %}
        {% endif %}

        {% set blog_posts_offset = (page-1)*blog_posts_limit %}
        {% if blog_posts_offset < 0 %}{% set blog_posts_offset = 0 %}{% endif %}

        {% set blog_posts = entries.fetch('blog', {
                                                    'where': {
                                                        'key': 'visibility',
                                                        'expr': 'nin',
                                                        'value': ['draft', 'hidden']
                                                    },
                                                    'order_by': {
                                                        'field': 'published_at',
                                                        'direction': 'desc'
                                                    },
                                                    'set_max_result': blog_posts_limit,
                                                    'set_first_result': blog_posts_offset}) %}

    {% endif %}

    {# /pagination #}

    <div class="row">
        <div class="col-md-12">
            {% for post in blog_posts %}
              <div class="blog-post">
                <a href="{{ post.slug }}"><h2 class="blog-post-title">{{ post.title }}</h2></a>
                <p>{{ post.summary|shortcode|raw}}</p>
                <p class="blog-post-meta">
                    <svg class="bi bi-calendar3-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2H0z"/>
                      <path fill-rule="evenodd" d="M0 3h16v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm6.5 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-8 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-8 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    {{ post.published_at|date(registry.flextype.date_display_format) }}
                    {% if post.tag is not empty %}
                        <svg class="bi bi-tag-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        </svg>
                        {% for tag in post.tag|split(',') %}
                            <a href="{{ url() }}/blog?tag={{ tag }}">{{ tag }}</a>{% if loop.last %}{% else %},&nbsp;{% endif %}
                        {% endfor %}
                    {% endif %}
                </p>
              </div>
            {% endfor %}
        </div>
    </div>

    {# pagination navigation #}
    <div class="text-center">
        {% if (page - 1) > 0 %}
            <a href="?page={{ page - 1 }}{% if tag %}&tag={{ tag }}{% endif %}">&larr;</a>
        {% endif %}
        {% if blog_posts_pages is not null and blog_posts_pages > 1 %}
            {{ page }} / {{ blog_posts_pages }}
        {% endif %}
        {% if (page) < blog_posts_pages %}
            <a href="?page={{ page + 1 }}{% if tag %}&tag={{ tag }}{% endif %}">&rarr;</a>
        {% endif %}
    </div>
    {# /pagination navigation #}
{% endblock %}
