{% extends 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/base.html' %}

{% block content %}

    {% set page = request.getQueryParams().page %}
    {% set tag = request.getQueryParams().tag %}

    {% set blogID = flextype.registry.get('themes.bootstrap-blog.settings.blog_id') %}
    {% set blogCollectionCacheID = strings('blog-collection-' ~ blogID).hash().toString() %}
    {% if flextype.cache.has(blogCollectionCacheID) %}
        {% set blog = flextype.cache.get(blogCollectionCacheID) %}
    {% else %}
        {% set blog = flextype.entries.fetch(blogID, {'collection': true}).exceptFromCollection(['content']) %}
        {% do flextype.cache.set(blogCollectionCacheID, blog) %}
    {% endif %}

    {% set blogPostData = flextype.entries.fetch(blogID) %}
    {% if blogPostData.posts_limit == 0 %}{% set blogPostsLimit = 5 %}{% else %}{% set blogPostsLimit = blogPostData.posts_limit %}{% endif %}
    {% if blogPostData.posts_recent_limit == 0 %}{% set blogPostsRecentLimit = 5 %}{% else %}{% set blogPostsRecentLimit = blogPostData.posts_recent_limit %}{% endif %}
    {% if blogPostData.posts_random_limit == 0 %}{% set blogPostsRandomLimit = 5 %}{% else %}{% set blogPostsRandomLimit = blogPostData.posts_random_limit %}{% endif %}

    {% if tag %}
        {% set blogPostsLength = blog.copy()
                                        .where('tags', 'contains', tag)
                                        .where('visibility', 'nin', ['draft', 'hidden'])
                                        .count() %}
        {% set blogPostsPages = (blogPostsLength / blogPostsLimit)|round(0, 'ceil') %}

        {% if page < 1 %}
            {% set page = 1 %}
        {% elseif page > blogPostsPages %}
            {% set page = blogPostsPages %}
        {% endif %}

        {% set blogPostsOffset = (page - 1 ) * blogPostsLimit %}
        {% if blogPostsOffset < 0 %}{% set blogPostsOffset = 0 %}{% endif %}

        {% set blogPosts = blog.copy()
                                .where('tags', 'contains', tag)
                                .where('visibility', 'nin', ['draft', 'hidden'])
                                .sortBy('published_at', 'DESC')
                                .slice(blogPostsOffset, blogPostsLimit) %}
    {% else %}

        {% set blogPostsLength = blog.copy().where('visibility', 'nin', ['draft', 'hidden']).count() %}
        {% set blogPostsPages = (blogPostsLength / blogPostsLimit)|round(0, 'ceil') %}

        {% if page < 1 %}
            {% set page = 1 %}
        {% elseif page > blogPostsPages %}
            {% set page = blogPostsPages %}
        {% endif %}

        {% set blogPostsOffset = (page - 1) * blogPostsLimit %}
        {% if blogPostsOffset < 0 %}{% set blogPostsOffset = 0 %}{% endif %}

        {% set blogPosts = blog.copy()
                                .where('visibility', 'nin', ['draft', 'hidden'])
                                .sortBy('published_at', 'DESC')
                                .slice(blogPostsOffset, blogPostsLimit) %}

    {% endif %}

    <div class="row">
        <div class="col-md-9">
            {# blog-posts #}
            {% for post in blogPosts %}
              <div class="blog-post">
                <a href="{{ post.id }}"><h2 class="blog-post-title">{{ post.title }}</h2></a>
                <p>{{ post.summary|shortcode|raw}}</p>
                <p class="blog-post-meta">
                    <svg class="bi bi-calendar3-fill" width="1em" height="1em" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2H0z"/>
                      <path fill-rule="evenodd" d="M0 3h16v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm6.5 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-8 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-8 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm2 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    {{ post.published_at|date(flextype.registry.get('flextype.date_display_format')) }}
                    {% if post.tags is not empty %}
                        <svg class="bi bi-tag-fill ml-2" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        </svg>
                        {% for tag in post.tags|split(',') %}
                            <a href="{{ url() }}/blog?tag={{ tag|trim }}">{{ tag|trim }}</a>{% if loop.last %}{% else %},&nbsp;{% endif %}
                        {% endfor %}
                    {% endif %}
                </p>
              </div>
            {% endfor %}
            {# /blog-posts #}
        </div>
        <div class="col-md-3">
            {# about-me #}
            {% include 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/blog/about-me.html' %}
            {# /about-me #}

            {# random-posts #}
            {% include 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/blog/random-posts.html' %}
            {# /random-posts #}

            {# recent-posts #}
            {% include 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/blog/recent-posts.html' %}
            {# /recent-posts #}

            {# tags-cloud #}
            {% include 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/blog/tags-cloud.html' %}
            {# /tags-cloud #}
        </div>
    </div>

    {# pagination-navigation #}
    {% include 'themes/' ~ flextype.registry.get('plugins.site.settings.theme') ~ '/templates/partials/blog/pagination-navigation.html' %}
    {# /pagination-navigation #}
{% endblock %}
